body{
    background-color:rgb(47, 138, 241);
}
.container{
    background-color: white;
    margin-top: 15px;
}
.container h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    font-weight: bolder;
}
@media(max-width:520px){
    .container h1{
        font-size: 44px;
    }
    body .mood{
        font-size: 33px;
    }
}
@media(max-width:320px){
    .container h1{
        font-size: 40px;
    }
    body .mood{
        font-size: 28px;
    }
}
@media(max-width:280px){
     .add{
          width: 35px;
          margin-right: 1px;
     }
}

.form-control{
    width: 85%;
    margin: auto;
}

.con1{
    background-color:rgb(47, 138, 241);
}
.card{
    border: none;

}
.fas{
    font-size: 40px;
    position: absolute;
    right: 5px;
    color: black ;
    z-index: 555;
}

