
body{
   background-color:rgb(47, 138, 241);

}
.container{
    margin-top: 15px;
    background-color: white;
    border-radius: 20px !important;    
}
.container h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 70px;
    font-weight: bolder;
    

}
.lineSsss{
    text-decoration-line: line-through;

}
.chng_color{  
    background-color: rgb(255, 187, 162);

}
.main-color{
    background-color: #cce5ff;
}
.con1{
    border-radius: 20px !important;
}


.HOW-btn{
    display:flex;
    justify-content: center;
    margin-top:15px;
}

@media(max-width:770px){
#todo{
    font-size: 60px;
    text-align: center;
}
.botns{
    justify-content: center;
}
.delb{
    width: 80%;
    font-size: 20px;
    
  }
  .delb2{
    margin-top: 10px;
}
}
@media(max-width:520px){
    .container h1{
        font-size: 44px;
    }
    body .mood{
        font-size: 33px;
    }
    .delb{
      width: 100%;
      font-size: 15px ;
      
    }
    .botns{
justify-content: center;    

}
.delb2{
    margin-top: 10px;
}
.alltsk{
  width:50%;
}

}
@media(max-width:320px){
    .container h1{
        font-size: 40px;
    }
    body .mood{
        font-size: 28px;
    }
    .alltsk{
        width:50%;
      }
}
@media(max-width:280px){
     .add{
          width: 35px;
          margin-right: 1px;
     }
}

.form-control{
    width: 85%;
    margin: auto;
}


.card{
    border: none;

}
.fas{
    font-size: 40px;
    position: absolute;
    right: 5px;
    color: black ;
    z-index: 555;
}
.botns{
    justify-content: center;
}




